@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200;300;400;600;700&family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,300&display=swap');

:root{
    --main-color:#00bfe5;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgb(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--main-color);
}
header .navbar a{
    font-size: 1.7rem;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}
header .navbar a.active,
header .navbar a:hover{
    color: white;
    background-color: var(--main-color);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: 5rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    text-align: center;
    color: var(--main-color);
    background: #eee;
    border-radius: 50%;
}

header .icons i:hover,
header .icons a:hover{
    background: var(--main-color);
    color: white;
}

header .icons #menu-bars{
    display: none;
}


/* media queries */


@media (max-width:1120px){
    html{
        font-size: 50%;
    }
}

@media (max-width:880px){
    html{
        font-size: 40%;
    }
}

@media (max-width:770px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display:block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
}