@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200;300;400;600;700&family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,300&display=swap');

:root{
    --main-color:#00bfe5;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgb(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #eee;
}

.sub-heading{
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 2rem;
}  

.heading{
    text-align: center;
    color: var(--main-color);
    font-size: 2rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.8rem 3rem;
}

.btn:hover{
    background: var(--main-color);
    letter-spacing: 0.1rem;
}

header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--main-color);
}
header .navbar a{
    font-size: 1.7rem;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}
header .navbar a.active,
header .navbar a:hover{
    color: white;
    background-color: var(--main-color);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: 2rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    text-align: center;
    color: var(--main-color);
    background: #eee;
    border-radius: 50%;
}

header .icons i:hover,
header .icons a:hover{
    background: var(--main-color);
    color: white;
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: 0.1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-file-upload-button{
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: var(--main-color);
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex: 1 1 45rem;
}

.home .home-slider .slide .image{
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;

}

.home .home-slider .slide .content span{
    color: var(--main-color);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 6rem;
}

.home .home-slider .slide .content p{
    color: var(--light-color);
    font-size: 2.2rem;
    padding: 0.5rem 0;
    line-height: 1.5rem;
}

.home .home-slider .slide .content p span{
    font-size: 15px;
    color: var(--light-color);
}

.swiper-pagination-bullet-active{
    background: var(--main-color);
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 0.5 rem;
}

.dishes .box-container .box{
    margin: 0.5rem;
    padding: 2.5rem;
    background: #fff;
    border-radius: 0.5rem;
    border: 1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1rem;
    background-color: #eee;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--main-color);
    color: #fff;
}

.dishes .box-container .box .fa-heart{
    right: -15rem;
}

.dishes .box-container .box .fa-eye{
    left: -15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}

.dishes .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}

.dishes .box-container .box .starts{
    padding: 1rem 0;
}

.dishes .box-container .box .starts i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.dishes .box-container .box .starts span{
    color: var(--main-color);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}


/* media queries */


@media (max-width:1120px){
    html{
        font-size: 50%;
    }

    header{
        padding: 2rem;
    }

    .home .home-slider .slide .content p span{
        font-size: 13px;
    }
}

@media (max-width:880px){
    html{
        font-size: 40%;
    }
    .home .home-slider .slide .content p span{
        font-size: 11.5px;
    }
}

@media (max-width:770px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display:block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

    .home .home-slider .slide .content p span{
        font-size: 10px;
    }
}